@tailwind base;
@tailwind components;
@tailwind utilities;

#dark-toggle:checked ~ label div.toggle-circle{
    @apply translate-x-3 bg-slate-800
}

#dark-toggle2:checked ~ label div.toggle-circle{
    @apply translate-x-3 bg-slate-800
}

